[Desktop Entry]
Type=Application
Name=Proton Run Windows Program
Name[zh_CN]=用Proton运行Windows程序
Comment=Run Windows executables with Proton
Exec=shorin-proton-wrapper %f
Icon=shorin-proton
MimeType=application/x-ms-dos-executable;application/x-msdownload;
Terminal=false
NoDisplay=true
