[Desktop Entry]
Type=Application
Name=Proton Run Windows Program (select)
Name[zh_CN]=选择运行Windows程序的环境
Comment=Run Windows executables with selected Proton runner and prefix
Exec=shorin-proton-wrapper-select %f
Icon=shorin-proton
MimeType=application/x-ms-dos-executable;application/x-msdownload;
Terminal=false
NoDisplay=true
